@page "/"
@using WebStep.Dto
@using webStep.AppServer.Services
@inject ITaskBoardService taskBoardService;
@inject IThrowApiExceptionService throwApiExceptionService;

<PageTitle>Index</PageTitle>

<div class="container mt-lg-6 mt-md-4 mt-sm-3 mt-xs-2">
    <div class="row gy-4">
        <div class="col-2">
            <button type="button" class="btn btn-outline-light" @onclick="@ThrowApiExceptionAsync">Throw api exception</button>
        </div>
    </div>
    <div class="row gy-4">

        @foreach (var board in taskBoards)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <TaskBoardComponent TaskBoards="@taskBoards" TaskBoard="@board" OnDeleted="@OnTaskBoardDeleted" TaskUpdated="@OnTaskUpdated" />
            </div>
        }

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <NewTaskBoardComponent OnCreated="@OnNewTaskBoardCreated" />
        </div>
    </div>
</div>


@code {
    private List<TaskBoardDto> taskBoards = new List<TaskBoardDto>();

    protected override async Task OnInitializedAsync()
    {
        taskBoards = await taskBoardService.GetAllTaskBoardsAsync();
    }

    private void OnTaskBoardDeleted(TaskBoardDto taskBoardDto)
    {
        var toRemove = taskBoards.FirstOrDefault(x => x == taskBoardDto);
        taskBoards.Remove(toRemove);
    }

    private void OnTaskUpdated(TaskDto taskDto)
    {
        AddTaskToTaskBoard(taskDto);
    }

    private async Task ThrowApiExceptionAsync()
    {
        await throwApiExceptionService.ThrowApiExceptionAsync();
    }

    private void AddTaskToTaskBoard(TaskDto taskDto)
    {
        var taskBoard = taskBoards.FirstOrDefault(x => x.Id == taskDto.TaskBoardId);

        if (taskBoard != null)
            taskBoard.Tasks.Add(taskDto);
    }

    private void OnNewTaskBoardCreated(TaskBoardDto taskBoardDto)
    {
        taskBoards.Add(taskBoardDto);
    }
}
