@page "/"
@using TaskOrganizer.AppServer.Services
@using TaskOrganizer.Shared
@using TaskOrganizer.AppServer.Components
@inject ITaskBoardService taskBoardService;

<PageTitle>Index</PageTitle>

<div class="container mt-lg-4 mt-md-3 mt-sm-2 mt-xs-2">
    <div class="row mb-4">
        <div class="col-auto">
            <NewTaskBoardComponent OnNewTaskBoardCreated="@HandleCreatedTaskBoard" />
        </div>
    </div>
    <div class="row gy-4">

        @foreach (var board in taskBoards)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <TaskBoardComponent TaskBoards="@taskBoards" TaskBoard="@board" OnTaskBoardDeleted="@RemoveTaskBoard" OnTaskChangedBoard="@AddTaskToTaskBoard" />
            </div>
        }
    </div>
</div>


@code {
    private List<TaskBoardDto> taskBoards = new List<TaskBoardDto>();

    protected override async Task OnInitializedAsync()
    {
        taskBoards = await taskBoardService.GetAllTaskBoardsAsync();
    }

    private void RemoveTaskBoard(TaskBoardDto taskBoardDto)
    {
        var toRemove = taskBoards.FirstOrDefault(x => x == taskBoardDto);

        if (toRemove == null)
            return;

        taskBoards.Remove(toRemove);
    }

    private void AddTaskToTaskBoard(TaskDto taskDto)
    {
        var taskBoard = taskBoards.FirstOrDefault(x => x.Id == taskDto.TaskBoardId);

        if (taskBoard != null)
            taskBoard.Tasks.Add(taskDto);
    }

    private void HandleCreatedTaskBoard(TaskBoardDto taskBoardDto)
    {
        taskBoards.Add(taskBoardDto);
    }
}
